.advantages {
  position: relative;
  width: 320px;
  margin: 0 auto;
  
}

.advantages::after {
  content: "";
  bottom: -55px;
  width: 100%;
  height: 34px;
  position: absolute;
  background-image: url("/img/corner-dark.svg");
  transform: rotate(180deg);
}

.slider__list{
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.advantages__title {
  margin: 0;
  padding-top: 128px;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.advantages__description { 
  margin: 0;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;

}


.advantages__item--fast {
  display: none;
  background-image: url("/img/fast.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 95px 94px;
}


.advantages__item--cool {
  display: none;
  background-image: url("/img/cool.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 95px 94px;
}

.advantages__item--price {
  display: none;
  background-image: url("/img/price.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 95px 94px;
}

.advantages__toggles {
  display: flex;
  justify-content: center;
  margin: 0;
}

.slider__input {
  display: none;
}

.slider__toggles {
  padding: 0;
  margin-right: 23px;
  width: 10px;
  height: 10px;

  border: 1px solid #ffffff;
  background-color: transparent;

  transform: rotate(45deg);
  font-size: 0;
}

.slider__toggles:last-child {
  margin-right: 0;
}

@media (max-width: 767px) {

  #advantages-input-1:checked ~ .advantages__toggles label[for="advantages-input-1"],
  #advantages-input-2:checked ~ .advantages__toggles label[for="advantages-input-2"],
  #advantages-input-3:checked ~ .advantages__toggles label[for="advantages-input-3"] {
    background-color: #ffffff;
  }
  #advantages-input-1:checked ~ .advantages__item .advantages__item--fast,
  #advantages-input-2:checked ~ .advantages__item .advantages__item--cool,
  #advantages-input-3:checked ~ .advantages__item .advantages__item--price {
    display: block;
  }

}

  @media (min-width: $tablet-width) {

    .advantages {
      width: 640px;
      padding-left: 30px;
      padding-right: 30px;
    }

    .slider__toggles {
      display: none;
    }

    .advantages__item--fast,
    .advantages__item--cool,
    .advantages__item--price {
      display: block;
      background-position: 0 50%;
    }

    .slider__list {
      display: flex;
      flex-wrap: wrap; 
    }

    .slider__item {
      position: relative;
      display: flex;
      width: 570px;
      flex-wrap: wrap;
      padding-top: 40px;
      padding-bottom: 40px;
      padding-left: 129px;
    }

    .slider__item:nth-child(2):after,
    .slider__item:nth-child(3):after {
      content: "";

      position: absolute;
      width: 568px;
      top: 0;
      left: 0;
      height: 1px;
      opacity: 0.1;
      background-color: #fff;
    }

    .advantages__title,
    .advantages__description {
      margin: 0;
      padding: 0;
      text-align: left;
    }

    .advantages__title {
      width: 400px;
      padding-bottom: 20px;
    }

    .advantages::after {
      content: "";

      height: 68px;
      bottom: -88px;
    }
  }

  @media (min-width: $desktop-width) {
    
    .advantages {
      width: 960px;
      padding: 0;
    }

    .slider__item {
      display: flex;
      padding: 0;
      width: 320px;
      padding-top: 178px;
      padding-left: 40px;
      padding-right: 40px;
    }

    .advantages__title,
    .advantages__description {
      width: 240px;
      text-align: center;

    }

    .slider__item:nth-child(2):after,
    .slider__item:nth-child(3):after {
      content: "";

      display: none;
    }

    .advantages__item--fast,
    .advantages__item--cool,
    .advantages__item--price {
      display: block;
      background-position: 50% 49px;
    }
  }

