.page-footer__wrapper {
  width: 320px;
  padding-top: 34px;
  margin: 0 auto;
}

.page-footer__contacts {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
  margin-bottom: 25px;
}

.contacts__title {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 700;
  line-height: 27px;
}

.contacts__text {
  display: block;
  margin: 0;
  text-align: center;
}

.contacts__phone {
  display: block;
  padding: 12px 0;
  margin-top: 20px;

  color: #ffffff;
  border: 1px solid #e5ddd5;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.page-footer__social {
  margin-bottom: 35px;
}

.social {
  display: flex;
  width: 320px;
}

.social__title {
  display: none;
}

.social__list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__link{
  display: block;
  font-size: 0;
  border: 1px solid #3f3f3f;
}

.social__link:hover {
  background-color: #fff;
}

.social__link--vkontakte {
  height: 101px;
  background-image: url("/img/vk-small.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--facebook {
  height: 101px;
  background-image: url("/img/fb-small.png");
  background-repeat: no-repeat;
  background-position: center;
}

.social__link--instagram {
  height: 101px;
  background-image: url("/img/ig-small.png");
  background-repeat: no-repeat;
  background-position: center;
}

.page-footer__copyright {
  padding-left: 20px;
  padding-right: 20px;
}

.copyright__text {
  display: block;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 400;
}

.copyright__link {
  padding: 12px 0;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    width: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

  .page-footer__contacts {
    width: 321px;
    padding: 0;
    margin: 0;
    order: -2;
    margin-bottom: 50px;
  }

  .page-footer__social {
    width: 100%;
  }

  .page-footer__copyright {
    order: -1;
    width: 200px;
    padding: 0;
  }

  .social {
    width: 640px;
  }

  .contacts__title {
    margin-bottom: 15px;
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
  }

  .contacts__text {
    text-align: left;
  }

  .contacts__phone {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    text-transform: none;
    font-weight: 400;
  }

  .copyright__text {
    margin-bottom: 20px;
    }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 940px;
    justify-content: start;
  }

  .page-footer__contacts,
  .page-footer__copyright {
    order: 0;
  }

  .page-footer__contacts {
    margin-right: 85px;
  }

  .page-footer__social {
    margin-right: 170px;
  }

  .page-footer__social {
    display: flex;
    width: 162px;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }

  .social__title {
    display: block;
    width: 100%;
    text-align: center;
    
  }

  .social__list {
    width: auto;
  }

  .social__link--facebook,
  .social__link--instagram,
  .social__link--vkontakte {
    height: 50px;
    width: 50px;
  }


}

